<app-nav-bar></app-nav-bar>
<br><br><br>
<p-floatLabel>
    <input id="modeloCarro" type="text" pInputText [(ngModel)]="carroService.carro.modeloCarro"/>
    <label for="modeloCarro">Digite o modelo do Carro</label>
</p-floatLabel>
<br>
<br>
<p-floatLabel>
    <input id="motorCarro" type="text" pInputText [(ngModel)]="carroService.carro.motorCarro"/>
    <label for="motorCarro">Digite o motor do carro</label>
</p-floatLabel>
<br>
<br>
<p-floatLabel>
    <input id="kmRodado" type="text" pInputText [(ngModel)]="carroService.carro.kmRodado"/>
    <label for="kmRodado">Digite a quilometragem do carro</label>
</p-floatLabel>
<br>
<br>
<p-floatLabel>
    <input id="anoFabricado" type="text" pInputText [(ngModel)]="carroService.carro.anoFabricado"/>
    <label for="anoFabricado">Digite o ano de fabricação</label>
</p-floatLabel>
<br>
<br>
<p-toast />
<p-button label="Submit" (click)="enviarDados()"  />

