<app-nav-bar></app-nav-bar>

<br>
<br>
<h1>Lista de Carros:</h1>

<!--Tabela com todos o carros-->
<div class="card">
<p-table [value]="carroService.carros" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Id</th>
                <th>Modelo</th>
                <th>Motor</th>
                <th>Quilometragem</th>
                <th>Ano</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-carro>
            <tr>
                <td>{{ carro.idCarro }}</td>
                <td>{{ carro.modeloCarro }}</td>
                <td>{{ carro.motorCarro }}</td>
                <td>{{ carro.kmRodado }}</td>
                <td>{{ carro.anoFabricado }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>