<app-nav-bar></app-nav-bar>
<br><br>
<p-floatLabel>
    <input id="nomeColaborador" type="text" pInputText [(ngModel)]="colaboradorService.colaborador.nomeColaborador"/>
    <label for="nomeColaborador">Digite o nome do colaborador</label>
</p-floatLabel>
<br>
<br>
<p-floatLabel>
    <input id="emailColaborador" type="text" pInputText [(ngModel)]="colaboradorService.colaborador.emailColaborador"/>
    <label for="emailColaborador">Digite o email do colaborador</label>
</p-floatLabel>
<br>
<br>
<p-floatLabel>
    <input id="cargoColaborador" type="text" pInputText [(ngModel)]="colaboradorService.colaborador.cargoColaborador"/>
    <label for="cargoColaborador">Digite o cargo do colaborador</label>
</p-floatLabel>
<br>
<br>
<p-toast />
<p-button label="Esqueci a senha" [text]="true" severity="info" />
<p-button label="Submit" (click)="enviarDados()"  />

