<app-nav-bar ></app-nav-bar>
<br>
<br>
<h1>Lista de Colaboradores: </h1>
<br>
<!--Tabela com todos o colaboradores-->
<div class="card">
    <p-table [value]="colaboradorService.colaboradores" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Cargo</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-colaborador>
                <tr>
                    <td>{{ colaborador.idColaborador }}</td>
                    <td>{{ colaborador.nomeColaborador }}</td>
                    <td>{{ colaborador.emailColaborador }}</td>
                    <td>{{ colaborador.cargoColaborador }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>