<app-nav-bar></app-nav-bar>
<!--Formulario de Cadastrar um novo aluguel-->
<form id="formCadastro">
    <label>Data incial do aluguel</label>
    <p-calendar [(ngModel)]="aluguelService.aluguel.dataAluguel" [ngModelOptions]="{standalone:true}" dateFormat="dd/mm/yy" />
    <br>
    <br>
    <label>Data do vencimento do aluguel</label>
    <p-calendar [(ngModel)]="aluguelService.aluguel.dataVencimento" [ngModelOptions]="{standalone:true}" dateFormat="dd/mm/yy" />
    <p>Escolha o carro que será alugado</p>
    <p-dropdown
    [options]="carroService.carros"
    [(ngModel)]="aluguelService.aluguel.idCarro"   
    [ngModelOptions]="{standalone:true}"
    optionValue="idCarro"
    optionLabel="modeloCarro" 
    placeholder="Selecione o carro" />
    <br>
    <br>
    <p-dropdown
    [options]="clienteService.clientes"
    [(ngModel)]="aluguelService.aluguel.idCliente" 
    [ngModelOptions]="{standalone:true}"
    optionValue="idCliente"
    optionLabel="nomeCliente" 
    placeholder="Selecione o cliente"/>
    <br>
    <br>
    <p-dropdown
    [options]="colaboradorService.colaboradores"
    [(ngModel)]="aluguelService.aluguel.idColaborador" 
    [ngModelOptions]="{standalone:true}"
    optionLabel="nomeColaborador"
    optionValue="idColaborador"
    placeholder="Selecione o colaborador"/>
    <br>
    <br>
    <p-toast />
    <p-button (click)="enviarDados()" form="formCadastro">Enviar</p-button>
</form>