<!--Navegação entre as paginas Carros,Clientes e colaboradores-->
<div class="card flex justify-content-center">
  <p-menu [model]="navegacao">
      <ng-template pTemplate="item" let-item>
          <ng-container *ngIf="item.route; else elseBlock">
              <a [routerLink]="item.route" class="p-menuitem-link">
                  <span [class]="item.icon"></span>
                  <span class="ml-2">{{ item.label }}</span>
              </a>
          </ng-container>
          <ng-template #elseBlock>
              <a [routerLink]="item.route" class="p-menuitem-link">
                  <span [class]="item.icon"></span>
                  <span class="ml-2">{{ item.label }}</span>
              </a>
          </ng-template>
      </ng-template>
  </p-menu>
</div>



<h1>Lista de Alugueis</h1>

<br><br>
<!--Lista de Alugueis-->
<div class="card">
    <p-table [value]="alugueis" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Id</th>
                    <th>Data do Aluguel</th>
                    <th>Data do Vencimento</th>
                    <th>Carro Aluguado</th>
                    <th>Cliente</th>
                    <th>Colaborador</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-aluguel>
                <tr>
                    <td>{{ aluguel.idAluguel }}</td>
                    <td>{{ aluguel.dataAluguel }}</td>
                    <td>{{ aluguel.dataVencimento }}</td>
                    <td>{{ aluguel.carro?.modeloCarro }}</td>
                    <td>{{ aluguel.cliente?.nomeCliente }}</td>
                    <td>{{ aluguel.colaborador?.nomeColaborador }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

<!--Paginação-->    
    <div *ngIf="page" class="card flex justify-content-center">
        <p-paginator 
            (onPageChange)="onPageChange($event)" 
            [first]="first!" 
            [rows]="rows" 
            [totalRecords]="page.totalElements" 
            [rowsPerPageOptions]="[10, 20, 30]" />
    
    </div>